* {
    margin: 0;
    padding: 0;
    font-family: Glacial;
    /* color: whitesmoke; */
}

@font-face {
    font-family: Glacial;
    src: url(../fonts/GlacialIndifference-Bold.otf);
    font-weight: bold;
}

header {
    color: whitesmoke;
    background-color: #2D2D2D;
    border-bottom: 1px solid rgb(68, 66, 66);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 10%;
}

header img {
    top: -40px;
    width: 50px;
    position: relative;
}


/* 
figcaption {
    color: whitesmoke;
    width: 450px;
    font-size: 25px;
    margin-top: -80px;
    margin-left: 55px;
} */

figcaption p {
    color: whitesmoke;
    width: 450px;
    font-size: 25px;
    margin-top: -80px;
    margin-left: 55px;
}

nav {
    width: 350px;
    position: relative;
    top: 12px;
    left: 999px;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 5px;
    padding: 5px;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
}

button {
    background-color: #2D2D2D;
    border: none;
    color: whitesmoke;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

button a:link {
    text-decoration: none;
}

button:hover {
    border: 1px solid #444242;
}

footer {
    border-top: 1px solid rgb(68, 66, 66);
    text-transform: uppercase;
    background-color: #2D2D2D;
    position: fixed;
    bottom: 0px;
    height: 20%;
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

footer p {
    color: whitesmoke;
    font-size: 30px;
    width: 150px;
}

footer li {
    color: whitesmoke;
    list-style-type: none;
    padding-bottom: 5px;
    padding-top: 5px;
}

footer .redes {
    width: 50px;
}

#redesSociais a:link {
    text-decoration: none;
}