* {
    color: whitesmoke;
}

.planoDeFundo {
    position: static;
    border-top: 1px solid rgb(68, 66, 66);
    display: flex;
    margin-top: 50px;
    height: 500px;
    justify-content: space-around;
}

#problema {
    background-image: url('../img/problemaD.png');
    background-repeat: no-repeat, repeat;
    text-align: center;
    text-align-last: center;
}

#problema h2 {
    position: relative;
    font-size: 50px;
    text-align: center;
    top: 40%;
}

#solucao {
    background-image: url('../img/lampada_apagada.png');
    background-repeat: no-repeat, repeat;
}

#solucao h2 {
    position: relative;
    font-size: 50px;
    text-align: center;
    top: 40%;
}

#problema,
#solucao {
    width: 400px;
    height: 400px;
    margin-top: 60px;
    transition: 3s;
    z-index: 10;
}

#problema:hover {
    /* border: 1px solid rgb(68, 66, 66); */
    text-transform: uppercase;
}

#solucao:hover {
    /* border: 1px solid rgb(68, 66, 66); */
    text-transform: uppercase;
}

.planoDeFundo a {
    text-decoration: none;
}